@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
* {
  color : inherit;
  text-decoration : none;
  width: 100%;
  font-family: 'Inter';
  margin: 0;
}
a {
  cursor: pointer;
}
h2 {
  font-weight: 400;
  width: fit-content;
  letter-spacing: 0.068em;
}
p {
  width: fit-content;
}
img {
  object-fit: cover;
}
.generic-h2{
  width: fit-content;
}
.header{
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-x: hidden;
}
.header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/*=========================
header-logo
=========================*/
.header-logo-wrap {
  display: flex;
  position: absolute;
  width: fit-content;
  margin-top: 1.14rem;
  margin-left: 0.9375rem;
  z-index: 4;
  color: #ffffff;
  font-size: 1.288125rem;
  font-weight: 800;
}
.header-logo {
  width: 1.1375rem;
  height: 1.288125rem;
  font-weight: 400;
  margin-top: 0.3125rem;
}
.logo-sub {
  display: block;
  width: fit-content;
  font-size: 0.728125rem;
  margin-top: 0.6rem;
  margin-left: 0.3875rem;
  font-weight: 800;
}
/*=========================
header-navi
=========================*/
.header-nav {
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  left: 0;
  background-color: #222222;
  opacity: 0.949;
  justify-content: center;
  transform: translateX(200vw);
  transition: all 0.3s ease-in;
  transform-origin: top left;
  overflow-x: hidden;
}
.header-list {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin-top: 6.25rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-list li{
  display: flex;
  text-align: center;
  width: fit-content;
  
}
.header-item {
  display: inline-flex;
  color: #ffffff;
  font-size: 1.25rem;
  margin-bottom: 2.3125rem;
}
/*=========================
navi-image
=========================*/
.a-nav-img {
  display: flex;
  justify-content: center;
}
.nav-img {
  width: 2.634375rem;
  height: 2.8125rem;
  margin-bottom: 2.3125rem;
}
/*=========================
hamburger-menu
=========================*/
.menu-hamb {
  position: absolute;
  display: flex;
  width: 3.6875rem;
  height: 0.6875rem;
  color: #ffffff;
  margin-top: 1.425rem;
  margin-right: 1.0625rem;
  font-size: 0.625rem;
  right: 0;
  z-index: 150;
  transform-origin: top left;
  cursor: pointer;
}
.menu-hamb:hover {
  opacity: 0.8;
}
.hamb-chek-bx {
  display: none;
}
.hamb-icon-wrap {
  width: fit-content;
  margin-top: -0.1rem;
}
.hamb-icon {
  position: relative;
  width: 1.375rem;
  height: 0.12rem;
  background-color: #ffffff;
  margin-top: 0.2rem;
  margin-right: 0.4375rem;
  border-radius: 0.3rem;
}
.hamb-icon.up {
  transform: translateY(0);
  transition-duration: 0.5s;
  transition-delay: 0.3s;
}
.hamb-icon.mid {
  transform: scale(1);
  transition-duration: 0.5s;
}
.hamb-icon.bottom {
  transform: translateY(0);
  transition-duration: 0.5s;
  transition-delay: 0.3s;
}


/*↓hamburger-animation-active↓*/


.hamb-icon.up.icon-actived {
  transform: translateY(0.625rem);
  transition-duration: 0.5s;
  transition-delay: 0.3s;
}
.hamb-icon.mid.icon-actived{
  transform: scaleX(0);
  transition-duration: 0.5s;
}
.hamb-icon.bottom.icon-actived {
  transform: translateY(-0.625rem);
  transition-duration: 0.5s;
  transition-delay: 0.3s;
}


/*↑hamburger-animation-active↑*/


.hamb-txt {
  width: fit-content;
  font-size: 0.625rem;
  vertical-align: middle;
}

.hamb-click-bg {/*hamburger-menu-clicked-background-gray*/
  position: absolute;
  display: none;
  width: 100vw;
  height: 100%;
  background-color: #222222;
  opacity: 0.6;
  z-index: 100;
  left: 0;
  top: 0;
  transform-origin: top left;
  overflow-x: clip;
}
/*=========================
header-item
=========================*/
.header-item {
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.header-item a {
  width: 100%;
}
.header-main {
  display: flex;
  justify-content: space-between;
}
/*=========================
header-image-wrap
=========================*/
.image-wrap {
  position: relative;
  width: 100vw;
  height: 45.40125rem;
  z-index: 2;
  overflow: hidden
}
.black-mask {/*header-image-mask*/
  position: absolute;
  width: 17.9375rem;
  height: 36.25rem;
  background-color: #000000;
  opacity: 0.3412;
  z-index: 1;
}
.header-img {
  position: absolute;
  width: 100vw;
  height: 45.40125rem;
  z-index: 0;
  
}
.black-rect {/*header-decoration-black-rect*/
  position: absolute;
  width: 10rem;
  height: 2.25rem;
  background-color: #000000;
  z-index: 2;
  opacity: 0.83;
}
/*=========================
header-right-black-square
=========================*/
.black-square {
  position: absolute;
  display: flex;
  width: 84.80452290788841vw;
  height: 33.0625rem;
  z-index: 2;
  align-items: center;
  justify-content: center;
  right: 0;
}
.black-square.black-sq-bg {
  z-index: -5;
}
.black-square h1{
  display: flex;
  position: relative;
  flex-direction: row;
  z-index: 5;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 63.603392180916vw;
  height: 15.875rem;
}
.black-square h1 span {
  display: inline-block;
  color: #ffffff;
  justify-content: center;
  z-index: 5;
  font-weight: 400;
}
.black-square h1 .span-s {
  font-size: 1rem;
  width: fit-content;
  line-height: 1rem;
}
.h1-span-wrap {
  height: 1rem;
  margin-top: -0.75rem;
  margin-bottom: 1.8rem;
}
.black-square h1 .span-l {
  font-size: 14.93412982025708vw;
  width: fit-content;
  line-height: 4.75rem;
}
.black-square h1 .span-l.l-space{
  letter-spacing: 0.063em;
}
.black-square h1 .span-s.l-space{

  letter-spacing: 0.063em;
}
.black-square h1 .span-s .l-space {
  width: 5.85rem;
  letter-spacing: 0.063em;
}
.black-square h1 .span-l.l-space {
  width: 100%;
}
  
/*=========================
clicked-animation
=========================*/
.hamb-actived{
  position: fixed;
  display: flex;
}
.nav-actived {
  z-index: 101;
  transform: translateX(0);
  transition: all 0.5s ease-in;
}
/*animation-initial-state*/
.header-nav.first {
  transition: none;
}
.hamb-icon.first {
  transition: none;
}
/*######################################################################

main

######################################################################*/


/*######################################################################

about-section

######################################################################*/


.about-sec {
  display: flex;
  width: 100%;
  height: 37.805625rem;
  margin-top: 6.118125rem;
  justify-content: center;
  background-color: #ffffff;
}
.about-sec .about-sec-wrap {
  display: flex;
  width: 100%;
  height: 33.8125rem;
  justify-content: center;
  align-items: center;
  background-image: url(../img/skyline-4582510_1920.png);
}
.about-us-wrap {
  display: flex;
  width: 100%;
  height: 27.5625rem;
  background-color: #ffffff;
  opacity: 94.9%;
  flex-direction: column;
  align-items: center;
}
.about-sec .about-sec-wrap h2 {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-family: 'Inter';
  font-size: 1.75rem;
  line-height: 5.875rem;
}
.about-sec .about-txt {
  display: block;
  width: 92.00490692%;
  height: 13.1875rem;
}
.about-sec .about-sec-wrap p {
  display: inline-block;
  width: 100%;
  font-size: 0.875rem;
  line-height: inherit;
  overflow-wrap: break-word;
}
/*=========================
readmore-button
=========================*/
.about-sec .readmore-btn {
  width: 10rem;
  height: 2.25rem;
  margin-top: 2.1875rem;
  margin-left: 8.00042%;
  background-color: #000000;
}
.about-sec .readmore-btn a{
  display: flex;
  width: 100%;
  height: 2.25rem;
  align-items: center;
}
.about-sec .readmore-btn span {
  display: inline-block;
  height: 1rem;
  color: #ffffff;
  font-size: 0.75rem;
  text-align: center;
}
/*######################################################################

worcul-section

######################################################################*/
.worcul-sec {
  display: flex;
  width: 100%;
  height: 62.8125rem;
  margin-top: -8rem;
  justify-content: center;
  background-color: #f0f0f0;
}
.worcul-sec-wrap {
  display: flex;
  width: 92.0049069283%;
  height: 31.5rem;
  margin-top: 6.75rem;
  flex-direction: column;
}
.worcul-sec-wrap a {
  width: 100%;
  height: 23.8125rem;
}
.worcul-flex {
  width: 100%;
  height: 100%;
}
.worcul-flex a {
  width: 100%;
  height: 100%;
}
.worcul-sec .generic-h2 {
  font-family: 'Inter';
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.9375rem;
}
a.mgin-b {
  margin-bottom: 4rem;
}
.worcul-flex p {
  font-family: 'Inter';
  font-size: 1rem;
  line-height: 5.25rem;
  vertical-align: middle;
}
/*=========================
l-topic-sec
=========================*/
.l-topic-sec {
  display: flex;
  width: 100%;
  height: 25.5rem;
  justify-content: center;
  background-color: #ffffff;
}
.l-topic-sec-wrap {
  display: flex;
  width: 92.0049069283%;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 2.5rem;
}
.l-topic-sec .l-topic-sec-wrap h2 {
  display: inline-block;
  width: 100%;
  font-family: 'Inter';
  font-size: 1.75rem;
  margin-bottom: 1.8125rem;
}
.l-topic-flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.l-topic-flex a{
  width: 100%;
}
.l-topic-flex span {
  display: inline-block;
  font-size: 0.625rem;
  line-height: 1.2rem;
  margin-bottom: 0.6875rem;
}
.l-topic-flex article {
  font-size: 0.75rem;
  margin-bottom: 0.6875rem;
}
.l-topic-flex .article-line {
  
  border-bottom:1px solid #DDDDDD;
}
/*######################################################################

contact-section

######################################################################*/
.contact-sec {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #f2f2f2;
}
.contact-sec-wrap {
  display: flex;
  width: 92.0049069283%;
  height: 38.875rem;
  justify-content: flex-end;
  flex-direction: column-reverse;
}
.contact-txt {
  width: 100%;
}
.contact-img {
  width: 100%;
  height: 14.5rem;
  margin-top: 2.5rem;
}
.contact-txt h2 {
  vertical-align: middle;
  line-height: 5.875rem;
}
.contact-txt p {
  line-height:  2rem;
}
/*######################################################################

footer

######################################################################*/
footer {
  display: flex;
  width: 100%;
  height: 3.125rem;
  background-color: #707070;
  justify-content: center;
  align-items: center;
}
footer span {
  display: inline-block;
  width: fit-content;
  color: #ffffff;
  line-height: 0.5rem;
  vertical-align: middle;
  font-size: 0.625rem;
}

/*######################################################################
========================================================================

Mobile 374.98~767.98px

========================================================================
######################################################################*/

@media screen and (min-width:374.98px) { 
/*######################################################################

header

######################################################################*/
.header{
  height: 70.0575rem;
}
/*=========================
header-logo
=========================*/
.header-logo-wrap {
  margin-top: 1.865rem;
  margin-left: 1.875rem;
  font-size: 1.133125rem;
  font-weight: 800;
}
.header-logo {
  margin-top: 0.15rem;
}
.logo-sub {
  margin-top: 0.35rem;
  margin-left: 0.3875rem;
}
/*=========================
hamburger-menu
=========================*/
.menu-hamb {
  height: 0.6875rem;
  margin-top: 2.15625rem;
  margin-right: 2rem;
}
/*=========================
header-image-wrap
=========================*/
.image-wrap {
  width: 100vw;
  height: 70.0575rem;
}
.black-mask {/*header-image-mask*/
  width: 78.12703455819162vw;
  height: 55.625rem;
}
.header-img {
  width: 100vw;
  height: 70.0575rem;
}
.black-rect {/*header-decoration-black-rect*/
  width: 10rem;
  height: 2.25rem;
}
/*=========================
header-right-black-square
=========================*/
.black-square {
  width: 42.57923383421443vw;
  height: 57.69125rem;
  flex-direction: column;
  align-items: normal;
}
.black-square h1{
  flex-direction: column;
  align-items: baseline;
  width: 30.99039037474934vw;
  height: max-content;
  margin-left: 0;
  margin-top: 0;
  line-height: auto;
}
.h1-span-wrap {
  height: 2.2rem;
  margin-bottom: 0;
}
.black-square h1 .span-s {
  width: 100%;
  font-size: 2.083387588218443vw;
  margin-left: 0;
  line-height: 2.2rem;
}
.black-square h1 .span-l {
  font-size: 6.77100966170994vw;
  line-height: 4.25rem;
}
.black-square h1 .span-s .l-space {
  width: 40%;
  max-width: 6.2rem;
  min-width: 4.2rem;
}
/*######################################################################

main

######################################################################*/


/*######################################################################

about-section

######################################################################*/


.about-sec {
  display: flex;
  width: 100%;
  margin-top: -0.8375rem;
  justify-content: center;
}
.about-sec .about-sec-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 150%;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.about-us-wrap {
  display: flex;
  width: 76.82491731555508%;
  height: 27.4375rem;
  max-height: 150%;
  background-color: #ffffff;
  opacity: 94.9%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.about-sec .about-sec-wrap h2 {
  display: inline-block;
  width: fit-content;
  text-align: left;
  margin-top: 5.468892419073413vw;
  font-family: 'Inter';
  font-size: 2rem;
  line-height: 2.9375rem;
}
.about-sec .about-txt {
  display: block;
  width: 89.830508474576%;
  margin: 0;
}
.about-sec .about-sec-wrap p {
  display: inline-block;
  width: inherit;
  font-size: 0.875rem;
  line-height: 2rem;
}
/*=========================
readmore-button
=========================*/
.about-sec .readmore-btn {
  width: 10rem;
  height: 2.25rem;
  margin-top: 2.1875rem;
  margin-left: 1.875rem;
  background-color: #000000;
}
.about-sec .readmore-btn a{
  width: 10rem;
  height: 2.25rem;
}
.about-sec .readmore-btn span {
  display: inline-block;
  height: 1rem;
  color: #ffffff;
  font-size: 0.75rem;
}
/*######################################################################

worcul-section

######################################################################*/
.worcul-sec {
  display: flex;
  width: 100%;
  height: 55.625rem;
  margin-top: 0;
  justify-content: center;
  background-color: #f0f0f0;
}
.worcul-sec-wrap {
  display: flex;
  width: 100%;
  height: 31.5rem;
  margin-top: 0;
  flex-direction: column;
}
.worcul-sec-wrap a {
  width: 67.7100966170994vw;
  height: 31.5rem;
  margin-left: 1.875rem;
  margin-bottom: 4.25rem;
}
.worcul-flex {
  width: 67.7100966170994vw;
  height: 100%;
}
.worcul-flex a {
  width: inherit;
  height: 31.5rem;
  margin-top: 3.6875rem;
  margin-left: 1.875rem;
}
.worcul-sec .generic-h2 {
  font-family: 'Inter';
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.9375rem;
}
a.mgin-b {
  width: 67.7100966170994vw;
  height: 31.5rem;
  margin-top: 3.6875rem;
  margin-left: 1.875rem;
  margin-bottom: 4rem;
}
.worcul-flex p {
  font-family: 'Inter';
  font-size: 0.75rem;
  line-height: 5.25rem;
  vertical-align: middle;
}
.worcul-flex img {
  width: 67.7100966170994vw;
  height: 45.57410349227845vw;
}
/*=========================
l-topic-sec
=========================*/
.l-topic-sec {
  display: flex;
  width: 100%;
  height:26.75rem;
  justify-content: center;
}
.l-topic-sec-wrap {
  display: flex;
  width: 91.1482069845569vw;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 0.6875rem;
}
.l-topic-sec .l-topic-sec-wrap h2 {
  display: inline-block;
  font-family: 'Inter';
  font-size: 1.75rem;
  margin-top: 1.9375rem;
  margin-bottom: 1.8125rem;
  font-weight: 400;
}
.l-topic-flex {
  display: flex;
  width: 91.1482069845569vw;
  height: 21.1875rem;
  flex-direction: column;
  align-items: flex-start;
}
.l-topic-flex a{
  width: inherit;
}
.l-topic-flex span {
  display: inline-block;
  font-size: 0.625rem;
  line-height: 1.2rem;
  margin-bottom: 0.6875rem;
}
.l-topic-flex article {
  font-size: 0.875rem;
  margin-bottom: 0.6875rem;
  letter-spacing: 0.004em;
}
.l-topic-flex .article-line {
  
  border-bottom:1px solid #DDDDDD;
}
/*######################################################################

contact-section

######################################################################*/
.contact-sec {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #f2f2f2;
}
.contact-sec-wrap {
  display: flex;
  width: 100vw;
  height: 46.6875rem;
  justify-content: flex-end;
  flex-direction: column-reverse;
}
.contact-txt {
  width: 67.7100966170994vw;
  margin-left: 1.875rem;
}
.contact-img {
  width: 67.7100966170994vw;
  height: 45.57410349227845vw;
  margin-top: 2.5rem;
  margin-left: 1.875rem;
}
.contact-txt h2 {
  vertical-align: middle;
  line-height: 5.875rem;
  letter-spacing: 0.068em;
}
.contact-txt p {
  width: inherit;
  line-height:  2em;
  overflow-wrap: break-word;
}
}

@media screen and (min-width: 563px){
  /*######################################################################

about-section

######################################################################*/

.about-us-wrap {
  height: 22.4375rem;
}
.worcul-sec {
  height: 77.625rem;
}
.worcul-flex p {
  font-size: 1rem;
}
}
/*######################################################################
========================================================================

DeskTop 767.98px~

========================================================================
######################################################################*/
@media screen and (min-width: 767.98px) {
/*######################################################################

header

######################################################################*/
.header {
  height: 47.89875rem;
}
/*=========================
header-logo
=========================*/
.header-logo-wrap {
  margin-top: 1.14rem;
  margin-left: 3.365rem;
  font-size: 2.125rem;
  font-weight: 400;
}
.header-logo {
  width: 1.8rem;
  height: 2rem;
  margin-top: 0.6rem;
}
.logo-sub {
  font-size: 1.375rem;
  margin-top: 0.85rem;
  margin-left: 1.25rem;
  font-weight: 400;
}
/*=========================
header-navi
=========================*/
.header-nav {
  right: 0;
  left: auto;
  width: 48.75rem;
  height: 56.25rem;
  transform-origin: center;
}
.header-list {
  margin-top: 6.25rem;
}
.header-item {
  font-size: 1.25rem;
  margin-bottom: 2.3125rem;
}
/*=========================
navi-image
=========================*/
.nav-img {
  width: 2.634375rem;
  height: 2.8125rem;
  margin-bottom: 2.3125rem;
}
/*=========================
hamburger-menu
=========================*/
.menu-hamb {
  height: 0.6875rem;
  margin-top: 2.25rem;
  margin-right: 3.75rem;
  font-size: 0.625rem;
}
.hamb-icon {
  width: 1.375rem;
  height: 0.12rem;
  margin-top: 0.2rem;
  margin-right: 0.4375rem;
}
.hamb-txt {
  font-size: 0.625rem;
}
/*=========================
header-image-wrap
=========================*/
.image-wrap {
  width: 80.83333333333333vw;
  height: 47.89875rem;
}
.black-mask {/*header-image-mask*/
  width: 76.38888888888889vw;
  height: 40rem;
}
.header-img {
  width:80.83333333333333vw;
  height: 47.89875rem;
}
.black-rect {/*header-decoration-black-rect*/
  width: 10rem;
  height: 2.25rem;
}
/*=========================
header-right-black-square
=========================*/
.black-square {
  width: 54.166666666666664vw;
  height: 46.25rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.black-square h1{
  width: 20.48611111111111vw;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  margin-top: 0;
  margin-right: -5rem;
  letter-spacing: 0;
}
.black-square h1 .span-s {
  width: max-content;
  font-size: 1rem;
}

.black-square h1 .span-l {
  height: fit-content;
  margin-left: 0;
  font-size: 5vw;
  letter-spacing: 0;
  width: max-content;
  margin-bottom: 2.083333333333333vw;
  line-height: auto;
}
.black-square h1 .span-s .l-space {
  width: 5.75rem;
  max-width: 200%;
  min-width: 4rem;
}
.h1-span-wrap {
  margin-bottom: 1.125rem;
}
span .l-space {
  width: 20.625vw;
  letter-spacing: 0;
}
.black-square h1 .span-l  {
  font-size: 5vw;
}
.black-square h1 .span-l.l-space{
  margin-bottom: 2.083333333333333vw;
  letter-spacing: 0;
}
.black-square.black-sq-bg {
  z-index: -5;
  background: rgba(34, 34, 34, 1);
}
/*######################################################################

main

######################################################################*/


/*######################################################################

about-section

######################################################################*/


.about-sec {
  display: flex;
  width: 100%;
  height: 37.805625rem;
  margin-top: 6.118125rem;
  justify-content: center;
  background-color: #ffffff;
}
.about-sec .about-sec-wrap {
  display: flex;
  width: 76.38888888888889%;
  height: 37.9375rem;
  justify-content: flex-start;
  align-items: center;
}
.about-us-wrap {
  width: 53.63636363636364%;
  height: 24.1875rem;
  margin-left: 3.125rem;
  background-color: #ffffff;
  opacity: 94.9%;
}
.about-sec .about-sec-wrap h2 {
  display: inline-block;
  text-align: left;
  margin-left: 1.875rem;
  font-family: 'Inter';
  font-size: 2rem;
  margin-top: 1.3125rem;
  margin-bottom: 0;
  line-height: 5.5625rem;
}
.about-sec .about-txt {
  display: block;
  width: 100%;
  height: fit-content;
}
.about-sec .about-sec-wrap p {
  display: inline-block;
  width: 89.83050847457628%;
  margin-top: 8px;
  font-size: 1rem;
  margin-left: 1.875rem;
}
/*=========================
readmore-button
=========================*/
.about-sec .readmore-btn {
  width: 10rem;
  height: 2.25rem;
  margin-top: 1.9375rem;
  margin-left: 1.875rem;
  background-color: #000000;
}
.about-sec .readmore-btn a{
  display: block;
  width: 10rem;
  height: 2.25rem;
}
.about-sec .readmore-btn span {
  display: inline-block;
  color: #ffffff;
  font-size: 0.75rem;
  text-align: center;
  vertical-align: 5.7%;
  line-height: 2.20rem;
}
/*######################################################################

worcul-section

######################################################################*/
.worcul-sec {
  display: flex;
  width: 100%;
  height: 48.1875rem;
  justify-content: center;
  background-color: #f0f0f0;
  margin-top: -6.25rem;
}
.worcul-sec-wrap {
  display: flex;
  width: 76.38888888888889%;
  height: 31.5rem;
  margin-top: 11.1875rem;
  margin-bottom: 5.5rem;
  justify-content: space-between;
  flex-direction: row;
}
.worcul-flex {
  width: 100%;
}
.worcul-flex a {
  width: 100%;
  height: 100%;
}
.generic-h2 {
  font-family: 'Inter';
  font-size: 2rem;
  font-weight: 400;
}
.worcul-sec-wrap a {
  width: 47.27272727272727%;
}
.worcul-flex img {
  height: auto;
}
.worcul-flex p {
  font-family: 'Inter';
  font-size: 1rem;
  line-height: 5.25rem;
  vertical-align: middle;
}
a.mgin-b {
  width: 47.27272727272727%;
  height: 31.5rem;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}
.l-topic-sec {
  display: flex;
  width: 100%;
  height: 29.25rem;
  justify-content: center;
  margin-top: 5.9375rem;
}
.l-topic-sec-wrap {
  display: flex;
  width: 76.38888888888889%;
  height: 29.25rem;
  justify-content: space-between;
}
.l-topic-sec .l-topic-sec-wrap h2 {
  display: inline-block;
  font-family: 'Inter';
  font-size: 2rem;
}
.l-topic-flex {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  margin-left: 0;
  flex-direction: column;
  
}
.l-topic-flex span {
  font-size: 0.625rem;
  line-height: 2rem;
  margin-top: 1.25rem;
}
.l-topic-flex a{
  width: fit-content;
  margin-left: 25rem;
}
.article-line {
  width: 63.63636363636363%;
  margin-left: 25rem;
}
/*######################################################################

contact-section

######################################################################*/
.contact-sec {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 8rem;
  background-color: #f2f2f2;
}
.contact-sec-wrap {
  display: flex;
  width: 79.16666666666666%;
  height: 31.875rem;
  margin-top: 3.75rem;
  justify-content: space-between;
  flex-direction: row;
}
.contact-txt {
  width: 27.5rem;
  margin: 0;
  margin-top: 2.9375rem;
}
.contact-img {
  width: 50.877192982456144%;
  height: 24.375rem;
  margin: 0;
}
.contact-txt h2 {
  margin: 0;
  vertical-align: middle;
  line-height: 2.9375rem;
}
.contact-txt p {
  line-height:  2rem;
}
}
@media screen and (min-width: 899px) {
  .black-square h1 .span-s {
    font-size: 1.25rem;
}
.black-square h1 .span-s .l-space {
  width: 7.125rem;
  max-width: 200%;
  min-width: 7.2125rem;
}
}